PORT=8792
WAREHOUSE_COMPANY_NAME=Сыр АКБЕЛ
WAREHOUSE_ADMIN_USERNAME=admin
WAREHOUSE_ADMIN_PASSWORD=change-me
WAREHOUSE_STATE_FILE=data/warehouse.json
WAREHOUSE_ALLOWED_ORIGIN=http://127.0.0.1:8792
WAREHOUSE_MAX_REQUEST_BYTES=6291456
TELEGRAM_BOT_TOKEN=
